.info-window {
  position: fixed;
  text-align: center;
  justify-content: center;
  left: 50%; /* Positioning the left edge at 50% of the viewport width */
  transform: translateX(-50%); /* Move the box back by half of its own width */
  top: 40px;
  z-index: 1000; /* High z-index to ensure it's on top */
  width: 25%; /* Adjust the width to fit the longest piece of text */
  background-color: bisque;
  }