@import url('./Colors.css');

.prerequisites-view {
  position: fixed;
  top: 9.7%;
  right: 0%;
  width: 32%;
  height: 100%;
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-background-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 2%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.header2 {
  font-size: 160%;
  color: #0a455c;
  margin-bottom: 5%;

}

.form-label-give-course {
  font-size: 85%;
  margin-left: 0;
  padding-left: 0; 
  text-align: left;
  display: block;
  margin-top: 20%;
}

.form-input-give-course {
  width: 100%;
  height: 40px;
  background-color: #c3d9e2;
  font-size: 25px;
  color: #666b6d;
}

.form-label-course-prerequisites {
  font-size: 85%;
  margin-left: 0;
  padding-left: 0; 
  text-align: left;
  display: block;
  margin-top: 20%;
}

.form-input-course-prerequisites {
  width: 100%;
  height: 40px;
  background-color: #c3d9e2;
  font-size: 25px;
  color: #666b6d;
}

.submit-courses-button {
  display: flex;
  justify-content: left;
  margin-top: 5%;
  padding: 8px 12px;
  font-size: 85%;
  width: auto;
  background-color: #0e688b;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}