.infoscreen-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
}

.infoscreen-content {
  background-color: #cfcfcf;
  padding: 20px;
  border-radius: 5px;
  z-index: 1051; 
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}
