@import url('./Colors.css');

#degreeSelectionButton {
  position: absolute;
  left: 2%;
  top: 23%;
  color: var(--text-color-primary);
  background-color: var(--button-background-color);
  min-height: auto;
  min-width: auto;
  line-height: inherit;
  font: inherit;
  text-transform: none;
}
  
  #degreeSelectionButton:hover {
    background-color: var(--button-background-color-hover);
  }
