.edit-window1 {
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    height: 250px;
    width: 450px;
    background-color: rgb(55, 62, 92);
    color: rgb(177, 177, 177);
    z-index: 99999;
}

.edit-window2 {
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    height: 400px;
    width: 450px;
    background-color: rgb(55, 62, 92);
    color: rgb(177, 177, 177);
    z-index: 99999;
}

.edit-window3 {
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    height: 450px;
    width: 450px;
    background-color: rgb(55, 62, 92);
    color: rgb(177, 177, 177);
    z-index: 99999;
}