.degree-menu-container {
    margin: 20px 0;
  }
  
  .position-save-container,
  .position-reset-container {
    margin: 10px 0;
  }
  
  .position-save-button,
  .position-reset-button {
    color: var(--edit-screen-text-color) !important;
    background-color: var(--edit-screen-button-background-color) !important;
    height: 47px !important;
  }
  
  .position-save-button:hover,
  .position-reset-button:hover {
    background-color: var(--edit-screen-button-background-color-hover) !important;
  }
  