@import url('./Colors.css');

.info-window {
  position: fixed;
  text-align: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 25%;
  background-color: var(--info-window-background-color);
  color: var(--info-window-text-color);
  border-radius: 1%;
}

.closing-button {
  background-color: var(--button-background-color);
  color: var(--text-color-primary);

}

.dev-portal-button {
  background-color: var(--button-background-color);
  color: var(--text-color-primary);
}