.login-button {
    border: none;
    position: absolute;
    background-color: var(--upper-button-backround-color);
    color: var(--upper-button-text-color);
    right: 3%;
    top: 0%;
    border-radius: 0%;
    font-size: 0.6em;
}