.messenger {
    position: fixed;
    bottom: 5%;
    left: 3%;
    z-index: 1050;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .8);
    text-align: center;
    max-width: 40%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.75);
}
  
.messenger-info {
    color: white;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 10%, transparent 80%, rgba(0, 0, 0, 0.1) 100%),
        linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, transparent 10%, transparent 80%, rgba(0, 0, 0, 0.1) 100%),
        linear-gradient(rgba(88, 100, 139, 0.9), rgba(88, 100, 139, 0.9));
}
  
.messenger-error {
    color: white;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 10%, transparent 80%, rgba(0, 0, 0, 0.1) 100%),
        linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, transparent 10%, transparent 80%, rgba(0, 0, 0, 0.1) 100%),
        linear-gradient(rgba(200, 40, 40, 0.9), rgba(200, 40, 40, 0.9));
}
  
