.nav {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
  z-index: 99;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}

.degree-name{
  font-weight: normal;
  position: absolute;
  left: 40%;
  top: 2%
}