@media screen and (prefers-color-scheme:dark) {
    .sidebar {
    --text_color: white;
    --backgroud_color: #302f39;
    }
}

@media screen and (prefers-color-scheme:light) {
    .sidebar {
    --text_color: #000000;
    --backgroud_color: white;
    }
}

.sidebar {
    color-scheme: light dark;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    color: var(--text_color);
    background-color: var(--backgroud_color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.timing {
    color: var(--text_color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}

.sisu-button {
  background-color: #0e688b !important; 
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
}

.sisu-button:hover {
  background-color: #0e688b !important;
}

.sisu-button:focus {
  background-color: #0e688b !important; 
  outline: none;
}