#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.degree-menu-container {
  position: fixed;
  text-align:left;
  left: 0px;
  top: 0px;
}
.searchBar-container {
  position: fixed;
  left: 110px;
  top: 0%;
}
.infoButton-container {
  position: fixed;
  top: 0%;
  left: 50%;
  
}

.position-save-container {
  position: fixed;
  left: 110px;
  top: 0%;
}

.position-reset-container {
  position: fixed;
  left: 289px;
  top: 0%;
}