#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.degree-menu-container {
  position: fixed;
  text-align:left;
  left: 0px;
  top: 0px;
  z-index: 1000; /* High z-index to ensure it's on top */
  width: 10%;
}
.searchBar-container {
  position: fixed;
  left: 110px;
  top: 0%;
}
.infoButton-container {
  position: fixed;
  top: 0%;
  left: 50%;
  
}
